/* @import url(https://fonts.googleapis.com/css?family=Philosopher:400,700&subset=latin,cyrillic); */
/* @import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
/* Futurice line-height: 28.7px*/
/* Poppins line-height: 24px*/
/* Lora line-height: 30px */
/* Lato line-height: 25.2px */
/* Open Sans line-height: 30px */
/* Source Sans Pro line-height: 27.5px */
/* Calibri */
/* Calibre line-height: 30px */
/* Merriweather lihe-height: 27.2px */
/* stratos line-height: 27px */
/* rgb(0,159,119) #009f77 */
/* rgb(23, 129, 200) #1781c8 */
/* rgb(128, 128, 128) #808080 */

/* * { margin: 0; padding: 0; } */

body {
    font-family: "Roboto";
    font-size: 110%;
    line-height: 1.5em;
    color: #454545;
    background-color: #fefefe;
}

a {
    color: #008abc;
}


.navigation {
    font-family: "Philosopher";
    padding-top: 2vh;
}

.navigation nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.navigation nav a {
    margin: 0 8px;
    color: #008abc;
    text-decoration: none;
}

.navigation nav a:hover {
    text-decoration: underline;
}

.terms,
.articles article {
    text-align: center;
    max-width: 800px;
    width: 80vw;
    margin: 0 auto 0 auto;
    padding-bottom: 18px;
}

.article article header,
.articles article header {
    font-family: "Philosopher";
}

.articles article header a {
    color: #008abc;
    text-decoration: none;
}

.articles article header a:hover {
    text-decoration: underline;
}

.article h2,
.articles h2 {
    margin-bottom: 0;
}
.articles .summary {
    margin: 8px 0 0 0;
}

.published {
    display: block;
    color: #cacaca;
    font-family: "Roboto Mono";
    font-style: italic;
    font-size: 0.8em;
}

.tags {
    font-size: 0.7em;
}

.terms a,
.tags a {
    display: inline-block;
    color: #646464;
    text-decoration: none;
    text-transform: uppercase;
    transition: 300ms background ease;
    border-bottom: 3px solid #008abc;
    padding: 5px 8px 0 8px;
    margin: 0 4px;
}

.terms a:hover,
.tags a:hover {
    display: inline-block;
    color: #f1f1f1;
    background-color: #008abc;
    text-decoration: none;
    margin: 0 4px;
}


.article {
    text-align: justify;
    max-width: 800px;
    width: 80vw;
    margin: 0 auto 0 auto;
}

.article .title {
    text-align: center;
    color: #008abc;
    font-family: "Philosopher";
}

.article .published {
    color: #cacaca;
}


.tags {
    font-family: "Roboto";
}

.copyright {
    font-family: "Philosopher";
    text-align: center;
    max-width: 80vw;
    margin: 20px auto 0 auto;
}

blockquote {
    color: #7e7e7e;
    border-left: 3px solid #008abc;
    padding-left: 1em;
}

strong {
    color: #0c0c0c;
    font-weight: bolder;
}

pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    font-size: 80%;
    padding: .8em;
    border: 1px solid #cacaca;
    border-radius: 4px;
}

pre,
code {
    font-family: "Roboto Mono";
}

p code {
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 0 .2em;
}

.terms .count {
    color: #cacaca;
    font-family: "Roboto Mono";
}

img {        
  display:block;
  max-width: 100%;
  margin-left:auto;
  margin-right:auto;
}

