@import url(https://fonts.googleapis.com/css?family=Philosopher:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);
@import url(https://fonts.googleapis.com/css?family=Inconsolata);


body {
    font-family: Philosopher;
    font-size: 16px;
    line-height: 20px;
    color: #454545;
    background-color: #ffffff;
}

nav ul {
    margin: 0;
    padding: 0;
}

a {
    color: #008abc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}



header nav {
    width: 100%;
    padding: 2vh 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

header nav ul li {
    list-style-type: none;
    font-size: 100%;
    margin: 0 2vw;
}





.img-circle {
    display: block;
    border-radius: 50%;
    max-width: 100%;
    margin: 2.5rem auto;
}



.article-content {
    text-align: justify;
    font-size: 16px;
    font-family: "Source Sans Pro";
}

.article, .copyright {
    text-align: center;
    max-width: 700px;
    margin: auto;
    padding: 2vh 0;
}

.article .article-time {
    padding-top: 0.5vh;
}



.tag-count {
    font-size: 0.6em;
}

.tag-name, .tags {
    color: #646464;
    text-align: center;
}

.tag-name span {
    color: #646464;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 3px solid #008abc;
}

.tags a {
    color: #646464;
    font-size: 0.6em;
    padding: 5px 8px 0 8px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 300ms background ease;
    display: inline-block;
    border-bottom: 3px solid #008abc;
    font-family: "Source Sans Pro";
}

.tags a:hover {
  color: #ffffff;
  background-color: #008abc;
  border-bottom: 3px solid #008abc;
  text-decoration: none;
}

p {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

pre {
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
}

code, pre {
    font-family: Inconsolata;
    font-size: 16px;
}

blockquote {
    border-left: 4px solid #008abc;
    padding-left: 1.5em;
    color: #555;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border: 0;
}
