@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen+Mono:wght@400;700&display=swap');

body {
    font-family: "Poppins";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #454545;
    background-color: #fefefe;
}

a {
    color: #008abc;
}

.blog-header {
    padding: 1rem 0 1rem 0;
}

.blog-header-navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    font-family: "Philosopher";
    font-size: 1.4rem;
}

.blog-header-navigation a {
    text-decoration: none;
}

.blog-header-navigation a:hover {
    text-decoration: underline;
}

.blog-footer {
    text-align: center;
}

.blog-articles article {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 80vw;
    margin-bottom: 1.5rem;
}

.blog-article-title {
    font-family: "Philosopher";
    color: #008abc;
    margin: 0;
}

.blog-article-title a {
    text-decoration: none;
}

.blog-article-title a:hover {
    text-decoration: underline;
}

.blog-article-summary {
    font-family: "Poppins";
    margin: 0;
}

.blog-article-publish-date {
    margin: 0;
    font-family: 'Roboto Mono';
    font-style: italic;
    font-size: 0.9rem;
    color: #cacaca;
}

.blog-article-tags {
    margin: 0;
    font-family: 'Poppins';
    font-size: 1.2rem;
}

.blog-article-tags a {
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.4rem 0.4rem 0.2rem 0.4rem;
    border-bottom: 0.2rem solid #008abc;
}

.blog-article-tags a:hover {
    color: #fefefe;
    background-color: #008abc;
    text-decoration: none;
    transition: 300ms background ease;
}




.blog-article article {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 80vw;
    text-align: justify;
}

.blog-article article header {
    text-align: center;
}



.terms {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    width: 80vw;
    text-align: center;
}

.terms a {
    font-family: "Poppins";
    font-size: 0.9rem;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0.4rem 0.4rem 0.2rem 0.4rem;
    border-bottom: 0.2rem solid #008abc;
}

.terms article {
    margin-bottom: 1rem;
}

.terms a:hover {
    color: #f1f1f1;
    background-color: #008abc;
    text-decoration: none;
}

.terms .count {
    color: #cacaca;
    font-family: "Roboto Mono";
}



h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Philosopher';
}

blockquote {
    font-family: 'Overlock';
    color: #7e7e7e;
    border-left: 3px solid #008abc;
    padding-left: 1em;
}

code {
    font-family: "Roboto Mono";
    font-size: 0.8rem;
}

p code {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 0 0.2rem;
}

pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
    font-family: "Roboto Mono";
    border: 1px solid #cacaca;
    border-radius: 4px;
    padding: 0.4rem;
}

img {
    display: block;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}