<!DOCTYPE html>
<html lang="en">
  <head>
    <title>VALLYSCODE</title>
    {{ partial "meta" . }}
    {{ partial "link" . }}
    {{ partial "analytics" . }}
  </head>

  <body>
    <header>
      <div>
        <div id="logo">
          <a href="{{ .Site.BaseURL }}"><img src="/images/cloud.svg" width="100px"></img></a>
        </div>
      </div>
    </header>

    {{ $baseurl := .Site.BaseURL }}

    <main class="posts">
      {{ range .Site.RegularPages }}
      <article class="post">

        <header class="post-header">
          <h1><a href="{{.RelPermalink }}">{{ .Title }}</a></h1>
          <div class="post-time">{{ .Date.Format "January 2, 2006" }}, {{ .FuzzyWordCount }} Words</div>
        </header>

        <div class="post-after">
          <div class="tags">
            {{ range .Params.tags }}
            <a href="{{ $baseurl }}/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
          </div>
        </div>

      </article>
      {{ end }}
    </main>

    <footer class="copyright">
      <p>© VALERII lYSENKO 2019</p>
    </footer>

  </body>

</html>
